<div class="navbar">
	<div class="navbar-start">
		<a routerLink="/home"><img class="test" src="assets/logo/logopourfondblanc.png" width="140" height="140"></a>
	</div>
	<div class="navbar-center hidden lg:flex">
	  <ul class="menu menu-horizontal px-1 text-xl ">
		<li><a routerLink="/vehicle">Vehicule</a></li>
		<li><a>Essai</a></li>
		<li><a>Nouveauté</a></li>
		<li><a>Contact</a></li>
		<li><a routerLink="/panel">Admin</a></li>
	  </ul>
	</div>
	<div class="navbar-end">
		<ul class="menu menu-horizontal rounded-box">
			<li>
			  <a>
				<p-button icon="pi pi-question-circle" [rounded]="true" [text]="true"></p-button>
			  </a>
			</li>
			<li>
			  <a>
				<p-button icon="pi pi-language" [rounded]="true" [text]="true"></p-button>
			  </a>
			</li>
			<li>
			  <a>
				<p-button icon="pi pi-user" [rounded]="true" [text]="true"></p-button>
			  </a>
			</li>
		  </ul>
	</div>
  </div>
