<div class="flex justify-center items-center h-screen">
<div class="max-w-2xl px-8 py-4 bg-white rounded-lg shadow-md dark:bg-gray-800">
	<div class="flex items-center justify-between">
		<span class="text-sm font-light text-gray-600 dark:text-gray-400">{{date | date:'dd/MM/yyyy'}}</span>

	</div>

	<div class="mt-2">
		<a href="#" class="text-xl font-bold text-gray-700 dark:text-white hover:text-gray-600 dark:hover:text-gray-200 hover:underline" tabindex="0" role="link">L'achat de votre vehicule est confirmé</a>
		<p class="mt-2 text-gray-600 dark:text-gray-300">Nous tenons à vous remercier chaleureusement pour avoir choisi PDM comme partenaire dans l'acquisition de votre nouveau véhicule. Bienvenue dans la famille PDM et que votre expérience de conduite soit des plus agréables!</p>
	</div>

	<div class="flex items-center justify-between mt-4">
		<p>Votre équipe PDM</p>

		<div class="flex items-center">
			<a routerLink="" class="px-3 py-1 text-sm font-bold text-gray-100 transition-colors duration-300 transform bg-gray-600 rounded cursor-pointer hover:bg-gray-500" tabindex="0" role="button">Retour à la page d'acceuil</a>
		</div>
	</div>
</div>
</div>
