<div class="flex justify-center items-center h-screen">
<div class="max-w-2xl px-8 py-4 bg-white rounded-lg shadow-md dark:bg-gray-800">
	<div class="flex items-center justify-between">
		<span class="text-sm font-light text-gray-600 dark:text-gray-400">{{date | date:'dd/MM/yyyy'}}</span>

	</div>

	<div class="mt-2">
		<a href="#" class="text-xl font-bold text-gray-700 dark:text-white hover:text-gray-600 dark:hover:text-gray-200 hover:underline" tabindex="0" role="link">The purchase of your vehicle is confirmed.</a>
		<p class="mt-2 text-gray-600 dark:text-gray-300">We would like to express our heartfelt thanks for choosing PDM as your partner in acquiring your new vehicle. We are delighted to accompany you on the road and remain at your complete disposal for any future assistance. Welcome to the PDM family, and may your driving experience be nothing short of enjoyable!</p>
	</div>

	<div class="flex items-center justify-between mt-4">
		<p>Your PDM team</p>

		<div class="flex items-center">
			<a routerLink="" class="px-3 py-1 text-sm font-bold text-gray-100 transition-colors duration-300 transform bg-gray-600 rounded cursor-pointer hover:bg-gray-500" tabindex="0" role="button">Back to homepage</a>
		</div>
	</div>
</div>
</div>
