<!-- <div class="card centered">
	<p-tabMenu [model]="items" [activeItem]="activeItem"></p-tabMenu>
</div> -->
<div class="card center d0">
	<div class="card d1"><img class="test" src="assets/logo/logopourfondblanc.png" width="196" height="196" priority></div>
	<div class="card d2">
		<p-tabMenu [model]="items" [activeItem]="activeItem"></p-tabMenu>
	</div>
	<div class="card d3">
		<p-button icon="pi pi-question-circle" [rounded]="true" [text]="true"></p-button>
		<p-button icon="pi pi-language" [rounded]="true" [text]="true"></p-button>
		<p-button icon="pi pi-user" [rounded]="true" [text]="true"></p-button>
	</div>
</div>
