<!-- <div class="card centered">
	<p-tabMenu [model]="items" [activeItem]="activeItem"></p-tabMenu>
</div> --> <!--
<div class="card center d0">
	<div class="card d1"><img class="test" src="assets/logo/logopourfondblanc.png" width="196" height="196" priority></div>
	<div class="card d2">
		<p-tabMenu [model]="items" [activeItem]="activeItem"></p-tabMenu>
	</div>
	<div class="card d3">
		<p-button icon="pi pi-question-circle" [rounded]="true" [text]="true"></p-button>
		<p-button icon="pi pi-language" [rounded]="true" [text]="true"></p-button>
		<p-button icon="pi pi-user" [rounded]="true" [text]="true"></p-button>
	</div>
</div>
-->
<div class="navbar">
	<div class="navbar-start">
		<a routerLink="/home"><img class="test" src="assets/logo/logopourfondblanc.png" width="140" height="140" priority></a>
	</div>
	<div class="navbar-center hidden lg:flex">
	  <ul class="menu menu-horizontal px-1 text-xl ">
		<li><a routerLink="/vehicle">Vehicule</a></li>
		<li><a>Essai</a></li>
		<li><a>Nouveauté</a></li>
		<li><a>Contact</a></li>
	  </ul>
	</div>
	<div class="navbar-end">
		<ul class="menu menu-horizontal rounded-box">
			<li>
			  <a>
				<!-- <i class="pi pi-question-circle" style="font-size: 2vh"></i> -->
				<p-button icon="pi pi-question-circle" [rounded]="true" [text]="true"></p-button>

			  </a>
			</li>
			<li>
			  <a>
				<!-- <i class="pi pi-question-circle" style="font-size: 2vh"></i> -->
				<p-button icon="pi pi-language" [rounded]="true" [text]="true"></p-button>
			  </a>
			</li>
			<li>
			  <a>
				<!-- <i class="pi pi-question-circle" style="font-size: 2vh"></i> -->
				<p-button icon="pi pi-user" [rounded]="true" [text]="true"></p-button>
			  </a>
			</li>
		  </ul>
	</div>
  </div>
